[http]
	proxy = socks5://127.0.0.1:7897
[https]
	proxy = socks5://127.0.0.1:7897
[core]
	fsmonitor = true
	untrackedCache = true
	ignorecase = false
	excludesfile = ~/.gitignore
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
