[http]
	proxy = socks5://127.0.0.1:7890
[https]
	proxy = socks5://127.0.0.1:7890
[user]
	name = Jerry
	email = calljerryli@outlook.com
[core]
	ignorecase = false
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = master
